In [1]:
import pandas as pd

In [4]:
image_category = pd.read_csv('brazil_amld.csv')

In [19]:
image_category = image_category[image_category.file_type == 'jpg']

In [28]:
cateory = image_category[['species','species_new', 'species_binary', 'genus', 'family', 'order', 'class']]

In [29]:
cateory.shape

(1454, 7)

In [32]:
cateory = cateory.drop_duplicates()

In [34]:
cateory.head()

,species,species_new,species_binary,genus,family,order,class
0,Guerlinguetus,SciurusGuerlinguetus,Animal,Sciurus,Sciuridae,Rodentia,Mammalia
27,MarmosopsIncanus,MarmosopsIncanus,Animal,Marmosops,Didelphidae,Didelphimorphia,Mammalia
35,Ghost,Ghost,Ghost,Ghost,Ghost,Ghost,Ghost
48,LeopardusWiedii,LeopardusWiedii,Animal,Leopardus,Felidae,Carnivora,Mammalia
64,Bird,Aves,Animal,Aves,Aves,Aves,Aves

In [36]:
a = cateory.iloc[0]

In [45]:
cateory.set_index('species_new').to_dict()['species_binary']

{'SciurusGuerlinguetus': 'Animal',
 'MarmosopsIncanus': 'Animal',
 'Ghost': 'Ghost',
 'LeopardusWiedii': 'Animal',
 'Aves': 'Animal',
 'CabassousTatouay': 'Animal',
 'MetachirusNudicaudatusMyosuros': 'Animal',
 'DidelphisAurita': 'Animal',
 'CaluromysPhilander': 'Animal',
 'PenelopeSuperciliaris': 'Animal',
 'TamanduaTetradactyla': 'Animal',
 'SalvatorMerianae': 'Animal',
 'Unknown': 'Exclude',
 'LeptotilaRufaxilla': 'Animal',
 'EuphractusSexcinctus': 'Animal',
 'CerdocyonThous': 'Animal',
 'Human': 'Exclude',
 'CuniculusPaca': 'Animal',
 'ProcyonCancrivorus': 'Animal',
 'CanisLupusFamiliaris': 'Animal',
 'Rodentia': 'Animal',
 'DasypusNovemcinctus': 'Animal',
 'LeopardusPardalis': 'Animal',
 'NasuaNasua': 'Animal',
 'EiraBarbara': 'Animal'}